.title-with-icon {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: min-content;
    column-gap: 8px;
    align-items: center;

    div > svg {
        width: 25px;
        height: 25px;
    }
}
