@import '../../styles/tools/variables.scss';

.resume-title-with-icon {
    color: $primary-color;
    border-left: 5px solid $primary-color;
    min-height: 40px;
    
    div > svg {
        margin-left: 8px;
        fill: $primary-color;
    }
}