.generic-navigation-cta {
    display: flex;
    position: relative;
    background: #08aeac;
    color: #ffff;
    font-size: 12px;
    text-transform: uppercase;
    width: 100%;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    z-index: 1;

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background: #021533;
        z-index: -1;
    }

    &:active,
    &:focus,
    &:hover {
        padding-left: 15px;

        &:before {
            width: 100%;
        }
    }
}